.header {
    background-color:#f3e5f5;
    color: #757575;
    height: 90px;
}
.header-logo {
    float: left;
    padding: 30px;
}
.header-list li {
    list-style: none;
    float: right;
    padding: 30px;
}